Бекграунд автоматична зміна кольорів/Бекграунд автоматична зміна кольорів - Google Chrome 2023-06-06 16-30-03.mp4
Відео бекграунд без елементів/video/ink_-_35506 (1080p).mp4
Відео бекграунд на сторінці з хедером та іншими елементами/video/turtle_-_35427 (720p).mp4
Генератор вибору кольорів RGB/Генератор вибору кольорів RGB - Google Chrome 2023-06-11 18-49-15.mp4
Гугл карти адаптивні/Гугл карти адаптивні - Google Chrome 2023-06-09 01-18-04.mp4
Елемент пульсуюче сердечко/Елемент пульсуюче сердечко - Google Chrome 2023-06-03 23-40-26.mp4
Зображення ефект розтягування в різні сторони при ховері/Зображення ефект розтягування в різні сторони при ховері - Google Chrome 2023-06-09 00-12-48.mp4
Зображення зміна з кольорового на чорно-біле/Зображення зміна з кольорового на чорно-біле - Google Chrome 2023-06-08 21-53-51.mp4
Картки що горизонтально перевертаються при ховері/Картки що горизонтально перевертаються при ховері - Google Chrome 2023-06-05 17-51-25.mp4
Кнопка активна з переходом на сторінку при натисканні/Кнопка активна з переходом на сторінку при натисканні - Google Chrome 2023-06-11 19-10-01.mp4
Кнопка з ефектом заповнення під час ховеру/Кнопка з ефектом заповнення під час ховеру - Google Chrome 2023-06-04 21-45-25.mp4
Кнопка з ефектом неону при ховері/Кнопка з ефектом неону при ховері - Google Chrome 2023-06-08 23-45-38.mp4
Кнопка з ховер ефектом заповнення 2/Кнопка з ховер ефектом заповнення 2 - Google Chrome 2023-06-05 20-39-05.mp4
Курсор різні його форми при наведенні на різні обєкти/Курсор різні його форми при наведенні на різні обєкти - Google Chrome 2023-06-03 23-01-36.mp4
Логін Форма з синхронізацію передачі даних в Google Sheets/!!! Логін Форма з синхронізацію передачі даних в Google Sheets таблиці - Google Chrome 2023-06-10 00-52-29.mp4
Навігаційне меню з  ховер ефектом на іконках соціальних мереж/Навігаційне меню з цікавим ховер ефектом на іконках соціальних мереж - Google Chrome 2023-06-06 00-05-06.mp4
Навігаційне меню з активним бургером та хрестиком/Навігаційне меню з активним бургером та переходом на вертикальне меню з хрестиком для його закриття - Google Chrome 2023-06-04 20-07-23.mp4
Навігаційне меню з ефектом крутіння логотипу/Навігаційне меню з ефектом крутіння логотипу - Google Chrome 2023-06-07 17-29-31.mp4
Навігаційні меню з фіксованим вертикальним меню з іконок/Навігаційні меню з фіксованим вертикальним меню створеного з іконок соціальних мереж - Google Chrome 2023-06-04 19-01-24.mp4
Поле пошуку адаптивне/Поле пошуку адаптивне - Google Chrome 2023-06-04 00-21-01.mp4
Полоса прокрутки горизонтальна верхня/Полоса прокрутки горизонтальна верхня - Google Chrome 2023-06-07 18-46-57.mp4
Підсказки Tooltip при ховері з різних сторін/Підсказки Tooltip при ховері з різних сторін - Google Chrome 2023-06-05 19-08-45.mp4
Сайт Веб із зміною елементів під розширення 600px/Сайт Веб повноцінний із зміною елементів під розширення 600px - Google Chrome 2023-06-07 00-20-31.mp4
Секція контакти GRID з інформативним ховером/!!! Секція контакти GRID з інформативним ховером (адаптивна) - Google Chrome 2023-06-12 18-32-59.mp4
Слайд шоу автоматичне на повний екран/index.html - self-study - Visual Studio Code 2023-06-12 20-06-20.mp4
Слайдер зі зміною стилів при переключенні елементів переходу (кнопок)/Слайдер зі зміною стилів при переключенні елементів переходу (кнопок) - Google Chrome 2023-06-11 23-37-24.mp4
Строка у якій відображається рухаючийся контент (реклама наші клієнти)/Строка у якій відображається рухаючийся контент (реклама наші клієнти) - Google Chrome 2023-06-11 18-18-22.mp4
Текст - копіювання введеного тексту з поля введення/Текст - копіювання введеного тексту з поля введення - Google Chrome 2023-06-12 16-33-18.mp4
Текст з рухаючимся лінійним градієнтом/Текст з рухаючимся лінійним градієнтом - Google Chrome 2023-06-11 16-28-28.mp4
Хеадер (адаптивний) для сайту з анімованим фото елементом/Хеадер (приклад із використанням значень для масштабування усіх елементів при зміні розширення екрану) для сайту з анімованим фото елементом - Google Chrome 2023-06-05 16-40-34.mp4
Якорі для переходу між секціями/!!! Якорі для переходу між секціями - Google Chrome 2023-06-12 19-29-39.mp4
