* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, #f40ddd, #0cc9cc);
}

.center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.title {
    color: white;
    font-style: 100px;
    font-weight: 900;
    cursor: pointer;
}

.hide {
    max-width: 0;
    opacity: 0;
    transition: .5s ease-in;
}

.title:hover .hide {
    max-width: 1em;
    opacity: 1;
}