body {
    background: rgb(44, 42, 42);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.load {
    width: 150px;
    height: 5px;
    background: linear-gradient(#420dd3 0 0) left/ 0% 100% no-repeat #ddd;
    -webkit-mask: linear-gradient(90deg, #420dd3 70%, #0000 0) left/ 20% 100%;
    animation: move 2s infinite steps(6);
}

@keyframes move {
    100% {
        background-size: 120% 100%;
    }
}