body {
    background-color: rgb(56, 45, 45);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 85px;
    color: white;
    font-weight: 900;
    cursor: pointer;
    transition: 1s;
}

.title:hover {
    -webkit-text-stroke: 2px white;
    color: transparent;
}