* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, rgb(63, 58, 60), rgb(38, 106, 110));
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 2px 2px 10px black;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    background: linear-gradient(red 0 0) 100% 0, linear-gradient(green 0 0) 0 0, linear-gradient(yellow 0 0) 0 100%, linear-gradient(blue 0 0) 100% 100%; 
    padding: 10px;
    background-repeat: no-repeat;
    background-size: 0% 2px, 2px 0%;
    transition: .8s;
}

nav ul li a:hover {
    background-size: 100% 2px, 2px 100%;
}