* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #06beb6, #48b1bf);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    grid-gap: 20px;
    width: 100%;
}

.box a {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .8s;
}

.box a:hover img {
    transform: rotate(-8deg) scale(1.2);
}

.box .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(0,0,0,.5);
    z-index: 1000;
    display: none;
}

.box .overlay button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 8px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background: linear-gradient(to right, #005aa7, #fffde4);
    color: white;
}

.box:hover .overlay {
    display: block;
}
