body {
    background-color: black;
}
.nav a {
    position: absolute;
    left: -95px; /* початкова позиція елементу */
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    border-radius: 0 10px 10px 0 /* перше значення - ліва верхня сторона, друге значення - права верхня сторона, третє значення - права нижня сторона, четверте значення - ліва нижня сторона */;
    box-shadow: 0 0 10px white;
    transition: 0.3s;
}

.nav a:hover {
    left: 0; /* при ховері змінює позицію з "-95рх" на "0" - створюється ефект виїзду на праву сторону*/
}

.home {
    top: 80px;
    background-color: blueviolet;
}

.about {
    top: 150px;
    background-color: brown;
}

.projects {
    top: 220px;
    background-color: burlywood;
}

.blog {
    top: 290px;
    background-color: cadetblue;
}

.contacts {
    top: 360px;
    background-color: chocolate;
}