* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url(./img/bg.for\ the\ future.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    text-align: center;
    color: gray;
}

.container h1 {
    font-size: 45px;
    padding: 30px;
}

.wrapper {
    width: 1000px;
    height: 550px;
    background: rgba(0,0,0,.7);
    margin: 80px auto;
    display: flex;
}

.column {
    position: relative;
    width: 100%;
    flex: 1;
    color: lightskyblue;
    padding: 25px;
    transition: .5s
}

.column:hover {
    flex-grow: 2.5; /* нова властивість - розширяє горизонтально елементи */
}

.column:hover .title {
    display: block;
}

.column:nth-child(1) {
    background: rgba(119, 136, 153,.3);

}

.column:nth-child(3) {
    background: rgba(0,0,0,.5);

}
.column h2 {
    text-align: center;
    margin-top: 50px;
}

.column .title {
    position: absolute;
    width: 280px;
    font-size: 14px;
    color: gray;
    text-align: justify;
    padding: 25px;
    margin: 10px 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.column .title button {
    position: relative;
    border: 1px solid lightskyblue;
    background: transparent;
    color: gray;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px 25px;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 1;
    transition: .5s;
    overflow: hidden;
}

.column .title button:hover {
    color: lightskyblue;
}

.column .title button::before {
    content: '';
    position: absolute;
    width: 0;
    height: 300%;
    top: 50%;
    transform: translate(-35%, -45%) rotate(45deg);
    background: gray;
    z-index: -1;
    transition: .5s;
}

.column .title button:hover::before {
    width: 100%;
}

.column img {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .8s;
}

.column:hover img {
    position: relative;
    top: 60%;
    left: 22%;
    transform: translate(-50%, -50%);
}


