/* Обнуляємо усі марджини, падінги та встановлюємо для всіх елементів бордер-бокс */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Фіксуємо бокс зліва та вверху та встановлюємо фіксовану позицію */
.sidenav {
    width: 160px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
}

/* Тут ми робимо лінки, які являються рядковими лементами - блочними, забираємо нижнє підкреслення */
.sidenav a {
    display: block;
    text-decoration: none;
    background-color: white;
    font-size: 20px;
    box-shadow: 2px 2px 3px rgb(30, 30, 145) rgb(223, 223, 115); /* тут ми задаємо тінь для зовнішньої сторони елементу по 2 пікселя по усіх боках та 3 пікселя щоб була розмитою */
    padding: 10px; /* внутрішній відступ */
    margin: 15px 30px; /* зовнішні відступи */
    border-radius: 5px; /* заокруглюємо трошки кути лінків */
    color: black; /* колір самого тексту */
    text-shadow: 1px 1px 3px; /* тут ми задаємо тінь lkz cfvjuj ntrcne - по 1 пікселя по усіх боках та 3 пікселя щоб була розмитою */
    text-align: center; /* розміщуємо сам текст по середині бокиска лінки*/
    transition: 0.8s;
}

.sidenav a:hover {
    /* transform: translateY(-5px); при ховері переміщення елементів у верх. Без "-" (мінуса) елементи переміщатимуться у низ */
    transform: translateX(-5px);
    /* при ховері переміщення елементів на ліву сторону. Без "-" (мінуса) елементи переміщатимуться у праву сторону  */
    background: linear-gradient(15deg, yellow, blue); /* найважливіша властивість якою ми задаємо патріотичний колір бекграунду при ховері */
    color: white; /* при  ховері змінюємо колір тексту лінки на білий */
    text-shadow: 1px 1px 3px white; /* при ховері зявляється біла тінь на тексті */
}

.main {
    margin-left: 160px; /* задаємо саме цей лефт ьфрджин так як зверху для першого контейнера було задано 160 пікселів ширини і текст другого контейнаре зайшов на ліу сторону саме на цей проміжок */
    padding: 15px; /* задаємо внутрішній відступ одинаковий по усім сторонам */
    text-align: justify; /* вирівнюємо праву сторону тексту */
}

