body {
    background-color: rgb(36, 31, 31);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.load {
    width: 100px;
    height: 100px;
    border: 2px solid;
    border-radius: 50%;
    border-color: rgb(255, 255, 255) rgb(36, 31, 31); /* Перше значення "білий колір" застосовується зверху та знизу. Друге значення "чорний колір" застосовується зліва та зправа. Схоже автоматично визначає область та діє у тому ж алгоритмі що й відступи.  */
    animation:  animate 2s infinite;
}

@keyframes animate {
    100% { /* Якщо в "animation" вказати "linear" після секунд паузу після кожного повного оберту можна буде забрати. Якщо вказати 50% - елемент буде рухатися повний кргу за годинниковою стрілкою і після цього навпаки проти годинникової стрілки  */
        transform: rotate(360deg);
    }
}