body {
    background-color: rgb(36, 31, 31);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.load {
    width: 100px;
    height: 100px;
    border: 2px solid;
    border-radius: 50%;
    border-color: rgb(16, 88, 110) rgb(43, 44, 92) rgb(94, 16, 110) rgb(218, 102, 202); /* Встановлюємо чотити різні кольори для рамки за годинниковою стрілко  */
    /* Кольори також можна додавати застосовуючи деталізацію у властивостях - ось так: 
    - border-top-color
    - border-right-color
    - border-bottom-color
    - border-left-color  */
    box-shadow: 0 0 15px wheat;
    animation:  animate 2s linear infinite;
}

@keyframes animate {
    to { /* Можна вказувати "to", фабо 100% - не буде жодної різниці. Якщо в "animation" вказати "linear" після секунд паузу після кожного повного оберту можна буде забрати. Якщо вказати 50% - елемент буде рухатися повний кргу за годинниковою стрілкою і після цього навпаки проти годинникової стрілки  */
        transform: rotate(360deg);
    }
}