* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 80px 10%;
    text-align: justify;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./img/cityscape-5543224_1920.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    color: white;
    padding: 40px;
}

.content p {
    margin-top: 20px;
    line-height: 25px;
}

/* створюємо форму та позиціонуємо індикатор */
#scroll-indicator {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    /* width: 100px; */
    background: linear-gradient(45deg, lightblue, pink);
}