body {
    background-color: rgb(15, 13, 13);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.load {
    width: 50px;
    height: 50px;
    background: radial-gradient(circle closest-side, #ffffff 90%, #000000) 0 0/33% 100% space;
    clip-path: inset(0 100% 0 0);
    animation: move 1.5s steps(4) infinite;
}

@keyframes move {
    to {
        clip-path: inset(0 -34% 0 0);
    }
}