body {
    background: #222;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    margin: 20px;
    padding: 20px 40px;
    border: none;
    outline: none;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-size: 250%;
    transition: .6s;
}

/* фактично задаємо кольори зліва на право */
.btn-1 {
    background-image: linear-gradient(to left, #ff3300, #ffcc00, #ff3300);
}

/* фактично задаємо кольори зліва на право */
.btn-2 {
    background-image: linear-gradient(to left, #00ffff, #000099, #00ffff);
}

/* ховером повертаємо задані властивості на праву сторону */
.btn:hover {
    background-position: right;
}