* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 12, 12, 0.7), rgba(194, 74, 74, 0.7)), /* ось тут ми використовуємо прозорість 70 відсотків однак чорного кольору і як наслідок отримуємо чорний фон картинки - затемнення. Можна використати інший колір і затемнення буде саме цього кольору. Значення rgba яке йде першим задає колір верхньої частини зобоаження, наступний rgba присвоєю колір нижній частині зображення */ url(./img/beautiful-nature-3077928_1920.jpg);
    background-size: cover; 
    background-position: center; /* позиціонуємо бекграунд картинку по центру */
}