body {
    background-color: rgb(36, 31, 31);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.neon {
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 36px;
    color: white;
    text-shadow: /* туманність */
    0 0 10px white,
    0 0 20px white,
    0 0 30px white,
    0 0 40px white,
    0 0 50px white,
    0 0 60px white,
    0 0 70px white,
    0 0 80px rgb(109, 205, 235), /* тут ми задаємо туманність в останніх її елементах переходячи поступово на інший колір, а можемо і білий залишити */
    0 0 90px rgb(109, 205, 235), /* тут ми задаємо туманність в останніх її елементах переходячи поступово на інший колір, а можемо і білий залишити */
    0 0 100px rgb(109, 205, 235), /* тут ми задаємо туманність в останніх її елементах переходячи поступово на інший колір, а можемо і білий залишити */
    0 0 150px rgb(109, 205, 235), /* тут ми задаємо туманність в останніх її елементах переходячи поступово на інший колір, а можемо і білий залишити */
    0 0 200px rgb(109, 205, 235); /* тут ми задаємо туманність в останніх її елементах переходячи поступово на інший колір, а можемо і білий залишити */
}